.Properties-section{
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 15px;
}
.Properties-section h1{
    margin-left: 55px;
    letter-spacing: 2.5px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.card-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    width: 90%;
    padding: 20px;
    gap: 32px;

}

.card{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    border: 2px solid white;
    box-shadow: 1px 1px 10px 1px lightblue;
    background-color: white;
    border-radius: 10px;
    
}
.card:hover{
    
    cursor: pointer;
    box-shadow: 5px 5px 10px 6px lightblue;
    
    
}

.card img{
   width: 280px;
   border-radius: 10px;

}
.card p{
   font-size: 25px;
   text-align: left;
   margin-top: 10px;
   margin-left: 5.5px;
   font-weight: 500;
   font-family: 'Times New Roman', Times, serif;
 
 }
