.login-section{
    background: linear-gradient(to top, #403f3f, #7d7dfa);
    /* background-color: rgb(159, 157, 157); */
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-to-login-container{
    width: 25%;
    height: 50%;
    background:linear-gradient(to top,   #b785ed,#82ade6);
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.logo-login h2 {
    font-size: 1.9rem;
    font-weight: 400;
    text-transform: uppercase;
    background: -webkit-linear-gradient(#151515, rgb(90, 3, 141));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   
  }
  
  .logo-login h2 span {
    font-size: 2.3rem;
  }
  .welcome{
    margin-top: 80px;
   letter-spacing: 1.5px;
   font-weight: bold;
   color: white;
   font-size: 36px;
    font-family: 'Times New Roman', Times, serif;
  }
  .login-container{
    width: 30%;
    height: 50%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login-container h2{
   
   letter-spacing: 1px;
   color: skyblue;
   font-weight: bold;
   font-size: 33px;
    font-family: 'Times New Roman', Times, serif;
}
.login-container label{
    
   letter-spacing: 1.5px;
   color: gray;
   font-weight: bold;
   font-size: 16px;
    
}
.login-container input{
    
    padding: 10px 18px;
   
    margin-top: 15px;
    border-radius: 15px;
    border: 1px solid gray;
    outline: none;
    margin-left: 5px;
    font-size: 15px;
     
 }
 .login-container button{
    
   background-color: skyblue;
    margin-top: 15px;
    border-radius: 15px;
    border: 1px solid white;
    outline: none;
  margin-left: 90px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    width: 56%;
    height: 50px;
     
 }
 .login-container button:hover{
    
    background-color: gray;
    color: white;
      
  }
  .remember{
    margin-left: 5px;
    text-align: center;
  }
  .remember input{
   margin-bottom: -10px;
   width: 40px;
   height: 18px;
   
  }
  .remember span{
   
  font-size: 16px;
  
  align-items: center;
  margin-left: -10px;
  
    
   }