.user-dashboard{
    border-radius: 60%;
    
    border: 2px solid green;
  }
  .user-dashboard img{
   border-radius: 60%;
    width:80px;height: 60px;
    
  }

  .drop-user{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 40px;
    height: 50px;
    z-index: 50px;
    position: absolute;
    align-items: flex-start;
    
      
        bottom: 100px;
        top: 145px;
        z-index: 5;
      
    }
    .list-items-drop-user{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: -46px;
      list-style-type:square;
      padding: 5px;
      background-color:whitesmoke;
      width: 125px;
      height: 110px;
      margin-left: -108px;
      border: 1px solid black;
        box-shadow: 1px 1px 1px 1px white;
        border-radius:18px 0px 18px 18px;
    }
    .p1{
     
      font-size: 18px;
      color: black;
      cursor: pointer;
      font-weight: 500;
      margin-top: -2px;
      
    }
    .p2{
     
      font-size: 18px;
      color: red;
      cursor: pointer;
      font-weight: 500;
      margin-top: -2px;
      
    }
    .list-items-drop-user p:hover{
    
     text-decoration: underline;
      
    }
     